.container {
    display: flex;
    align-items: center;
    img {
        width: 11px;
        height: 11px;
    }
    span {
        font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: #EB5757;
    }
}
