.button {
    background-color: #585cc6;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    width: 36px;
    height: 36px;
    border-color: transparent;
    cursor: pointer;
    &:hover {
    background: linear-gradient(to right, #696DC8 65%, #585CC6 65% 100%);
  }
    &:active {
      background: #797DDF;
    }
    &:disabled {
      background: #8A8A8A;
    }
  }
  
  .button:hover {
    cursor: pointer;
  }